:root {
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-dark: #1a1a1a;
  --text-light: #eaeaea;

  --bg-primary: #000000;
  --bg-secondary: #f8f8f8;
  --bg-dark: #000000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:  "Stack Sans Headline", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


a {
  display: block;
  text-decoration: none;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  background-color: #ff0000;
  border-color: #ffffff;
}

.text-primary {
  color: #000000 ;
}

.text-secondary {
  color: #ffffff ;
}

.text-light {
  color: #eaeaea ;
}

.text-dark {
  color: #2b2922 ;
}

.bg-primary {
  background-color: #000000 ;
}

.bg-secondary {
  background-color:  #dfedf5 ;
}

.bg-dark {
  background-color: #000000 ;
}

h1,
h2,
h3 {
  font-weight: bold;
}

